:root {
  --palette-blue: #005981;
  --palette-red: #a9262c;
  --palette-orange: #e57536;
  --palette-yellow: #f9c926;
}

.btn-primary {
  background-color: var(--palette-red);
  border-color: var(--palette-red);
}

.nav-link {
  font-size: 1rem !important;
}

.header {
  padding-bottom: 30px;
  background: white;
}

.header .navbar-brand img {
  width: 200px;
  max-height: 80px;
}
@media (min-width: 768px) {
  .header .navbar-brand img {
    width: 270px;
    max-height: 80px;
  }
}

body .section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

body .section:last-of-type .container {
    flex-grow: 1;
}

body .section:first-of-type {
  margin-top: 140px;
}
@media (min-width: 992px) {
  body .section:first-of-type {
    margin-top: 170px;
  }
}

body .section:last-of-type::before {
    content: "";
    position: absolute;
    height: 20vh;
    background: var(--palette-blue);
    width: 100%;
    bottom: 0;
}

body .section:last-of-type {
    position: relative;
  background-image: url(../img/bullets.png);
  background-repeat: repeat-x;
  background-position: left 0 bottom 20vh;
}
body .section:last-of-type .container {
  background: white;
  position: relative;
}
body .section:last-of-type .container:last-of-type {
  box-shadow: 0 42px 34px -16px rgb(0 0 0 / 30%)
}


.section {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

footer.footer {
  background-color: var(--palette-blue);
}

table.schedule {
  margin: 3rem 0;
  width: 100%;
  font-size: 1.1rem;
  border-collapse: collapse;
}

table.schedule thead {
  font-size: 1.15rem;
  border-bottom: 1px solid #666;
}

table.schedule thead th {
  padding: 1rem;
  padding-top: 3rem;
}
table.schedule thead:first-of-type th {
  padding-top: 1rem;
}

table.schedule tbody {
}
table.schedule tbody td {
  padding: 1rem;
}
table.schedule tbody td.time {
}
table.schedule tbody td.title p {
  font-size: 1rem;
  margin: 0;
}
table.schedule tbody td.title p:first-child {
  font-weight: bold;
}
table.schedule tbody td.speakers span::after {
  content: ", ";
}
table.schedule tbody td.speakers span:last-child::after {
  content: "";
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.rad-overview__bg {
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: left;
  height: 100%;
  position: absolute;
  left: 0%;
  z-index: 0;
  display: none
}

.rad-overview__bg img {
  width: 100%;
  margin-top: 90px;
  height: 100%;
  max-height: 721px
}

@media (min-width:992px) {
  .rad-overview {
    min-height: 870px;
    padding-top: 0;
    margin-bottom: 0
  }

  .rad-overview__bg {
    display: -webkit-box;
    display: flex;
    right: -50px
  }

  .rad-overview__bg img {
    width: auto
  }
}

.rad-overview__bg--mobile {
  display: -webkit-box;
  display: flex;
  position: relative;
  left: 0;
  right: 0;
  opacity: 1
}

.rad-overview__bg--mobile img {
  margin-top: 40px
}

.rad-overview .container {
  position: relative;
  z-index: 2
}

.rad-overview .container h1 {
  width: 100%;
  font-size: 32px
}

@media (min-width:992px) {
  .rad-overview__bg--mobile {
    display: none
  }

  .rad-overview .container h1 {
    font-size: 48px
  }
}

@media (min-width: 1200px) {
  .section div[class*=col-] img.image-right-overflow {
    margin-left: 100px;
    width: auto;
  }
}

h2 span {
  display: block;
  font-size: 70%;
  color: #333;
  font-weight: normal;
}
