{{ if .Site.Data.homepage.workshops.enable }}
<section class="section rad-animation-group" id="workshops">
  <div class="container rad-fade-down mt-5 mt-md-5">
    <div class="row">
      <div class="d-none d-md-block col-md-6">
        <img
          class="lozad img-fluid image-left-overflow"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.homepage.workshops.image.x | absURL }}"
          data-srcset="{{ .Site.Data.homepage.workshops.image.x | absURL }} 1x, {{ .Site.Data.homepage.workshops.image._2x | absURL }} 2x"
          alt="Profile Picture"
        />
      </div>
      <div class="col-12 col-md-6 my-auto pb-4">
        <h2>{{ .Site.Data.homepage.workshops.title | markdownify }}</h2>
        <p class="lead">
          {{ .Site.Data.homepage.workshops.content | markdownify }}
        </p>
        <a
          href="{{ .Site.Data.homepage.workshops.button.URL | absURL }}"
          target="_blank"
          class="btn btn-primary"
        >
          <i class="{{ .Site.Data.homepage.workshops.button.icon }}"></i>
          {{ .Site.Data.homepage.workshops.button.btnText }}
        </a>
      </div>
    </div>
  </div>
  <div class="d-block d-md-none">
    <img
      class="lozad img-fluid"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.homepage.workshops.image.mobile | absURL }}"
      alt="{{ .Site.Data.homepage.workshops.image.alt }}"
    />
  </div>
</section>
{{ end }}
